.welcomeUser {
    background: url(https://i.pinimg.com/originals/12/b2/3a/12b23a7752e8a7a4464c1ff5e596237f.gif)
        no-repeat center center;
    background-size: cover;
}

.messages {
    max-height: 10rem;
    overflow-y: auto;
}
.apartmentMsg:nth-child(even) {
    background-color: lightgray;
}
