// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "crudCreate";
//mockup-1
@import "maps";
@import "home";
@import "userApartments";
@import "radius";
@import "crudCreate";
@import "show-apartment";
#map {
    width: 100%;
    height: 100%;
    div {
        canvas {
            position: relative !important;
            height: 450px;
        }
    }
}
body {
    * {
        color: $secondaryColor;
    }
}
.hero {
    // height: 85vh;
    //width: 100vw;
    background: url("https://a0.muscache.com/4ea/air/r:w3100-h2074-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logo {
    & img {
        width: 2rem;
    }
}

footer {
    ul {
        li {
            margin-bottom: 0.3rem;
            a {
                color: $secondaryColor;
            }
        }
    }
}
.imgstyle {
    min-height: 100%;
}

// metti puntini se la string è troppo lunga
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
